:root {
    --fontGe: 'NotoSerifGeorgian'; /*alternative is 'NotoSansGeorgian'*/
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 70vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---FONTS---*/
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: NotoSansGeorgian;
    src: url(./fonts/Noto_Sans_Georgian/static/NotoSansGeorgian/NotoSansGeorgian-Light.ttf);
}
@font-face {
    font-family: NotoSerifGeorgian;
    src: url(./fonts/Noto_Serif_Georgian/static/NotoSerifGeorgian/NotoSerifGeorgian-Light.ttf);
}
/*---FONTS---*/

/*---header---*/
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    height: 80px;
    margin-bottom: 20px;
    max-width: 450px;
}

.mode-button {
    margin-right: 10px;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cccccc;
}

.settings-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

.lessons-container {
    max-width: 420px;
    margin: 0 auto;
}

.lesson {
    height: 480px;
    width: calc(100vw - 60px);
    max-width: 420px;
}

.lesson.disable {
    display: none;
}

.lesson.activeL {
    animation-duration: .23s;
    animation-name: slideleft;
}

.lesson.activeR {
    animation-duration: .23s;
    animation-name: slideright;
}

@keyframes slideleft {
    0% {  transform: translateX(0) }
    100% {  transform: translate(-100vw) }
}

@keyframes slideright {
    0% {  transform: translateX(0) }
    100% {  transform: translate(100vw) }
}

.mode-container {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.mode-button:active {
    background-color: #afafaf;
    transform: translate(0, 2px);
    transition: 0.1;
}

.main-button {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    color: #3a3a27;
    font-weight: 600;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cccccc;
}

.lessons-text {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 800;
}

.keylesson {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.keylessonmargin1 {
    margin: 20px auto;
}

.keylessonmargin2 {
    margin: 20px auto 70px auto;
}

.keylessonmargin3 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 40px;
}

.rareletter {
    position: relative;
    top: -55px;
    left: 50px;
    width: 300px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3a3a27;
    font-weight: 600;
    padding: 10px;
}

.navbtn {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3a3a27;
    font-weight: 600;
    width: 60px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: #cccccc;
}

.nextbtn {
    position: absolute;
    right: 70px;
}

.prevbtn {
    position: absolute;
    left: 70px;
}

.nav-block {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 450px;
}

.text-mode {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    color: #3a3a27;
    font-weight: 600;
    min-width: 110px;
}

.main-button:active {
    background-color: #afafaf;
    transform: translate(0, 2px);
    transition: 0.1;
}

.tmbox {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tmbox.fromleft {
    animation-duration: 1s;
    animation-name: fromleft;
}

@keyframes fromleft {
    0% { transform: translateX(0px) }
    10% { transform: translateX(-50px) }
    20% { transform: translateX(-150px) }
    80% { transform: translateX(-150px) }
    90% { transform: translateX(-50px) }
    100% { transform: translateX(0px) }
}

.tmbox.fromright {
    animation-duration: 1s;
    animation-name: fromright;
}

@keyframes fromright {
    0% { transform: translateX(0px) }
    10% { transform: translateX(30px) }
    20% { transform: translateX(150px) }
    80% { transform: translateX(150px) }
    90% { transform: translateX(30px) }
    100% { transform: translateX(0px) }
}

.mainbox {
    font-family: 'Montserrat';
    color: #3a3a27;
    position: absolute;
    background-color: white;
    z-index: 2;
    display: none;
}

.about-box {
    left: 100vw;
    top: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px 40px 100px 40px;
}

.about-box.active {
    display: inline;
    animation-duration: .3s;
    animation-name: slidemenuleft;
    animation-fill-mode: forwards;
}

@keyframes slidemenuleft {
    0% { left: 100vw }
    100% { left: 0px }
}

.lessons-box {
    top: -770px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px 30px 10px 30px;
}

.lessons-box.active {
    display: inline;
    animation-duration: .3s;
    animation-name: slidemenudown77;
    animation-fill-mode: forwards;
}

.settings-box {
    top: -330px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 10px 30px 10px 30px;
    background: linear-gradient(white 250px, transparent 350px);
}

.settings-box.active {
    display: inline;
    animation-duration: .3s;
    animation-name: slidemenudown33;
    animation-fill-mode: forwards;
}

@keyframes slidemenudown33 {
    0% { top: -330px; }
    100% { top: 0px }
}

@keyframes slidemenudown77 {
    0% { top: -770px; }
    100% { top: 0px }
}

.settings-text {
    padding: 5px 0;
    font-size: 13px;
    font-weight: 800;
    max-width: 450px;
}

.about-text {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 800;
    max-width: 450px;
}

.xmark {
    margin: 0 auto;
    max-width: 450px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.linkplace{
    margin: 0 auto;
    max-width: 450px;
    font-weight: 600;
}

.xplaceabout {
    padding: 15px 20px 7vh 20px;
    text-align: end;
}

.xplacelessons {
    padding: 15px 20px 20px 20px;
    text-align: end;
}

.xplacesettings {
    padding: 15px 20px 20px 20px;
    text-align: start;
}

.xplacetransparent {
    margin-top: 30px;
    height: calc(100vh - 300px);
}

/*---header---*/

.keyboardcontainer {
    margin: 0 auto;
    width: calc(100vw - 10px);
}

/*---helpcontainer---*/
.helpcontainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 15px;
    width: calc(100vw - 10px);
    max-width: 450px;
    margin: 0 auto;
    height: 70px;
    font-family: 'Montserrat';
    font-weight: 600;
    gap: 15px;
}

.help-button {
    font-size: 20px;
    padding: 0 13px;
    text-align: end;
    color: #3a3a27;
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cccccc;
    transition: .3s;
}

.help-button.active {
    transition: .2s;
    animation-duration: 1.8s;
    animation-timing-function: linear;
    animation-name: showtranslit2;
}

@media (max-width: 450px) {
    .help-button.active {
        animation-name: showtranslit1;
    }
}

  @keyframes showtranslit2 {
    0% { background-color: #dfe079; }
    12% { width: 420px; transform: translateX(0px) }
    17% { width: 390px; transform: translateX(-30px) }
    22% { width: 420px; transform: translateX(0px) }
    100% { background-color: #e8e9b9 }
  }
  @keyframes showtranslit1 {
    0% { background-color: #dfe079; }
    12% { width: calc(89vw); transform: translateX(0px) }
    17% { width: calc(89vw - 20px); transform: translateX(-20px) }
    22% { width: calc(89vw); transform: translateX(0px) }
    100% { background-color: #e8e9b9 }
  }

.hideswitcher {
    display: none;
}
/*---helpcontainer---*/


.text-ru {
    font-family: 'Montserrat';
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.text-ge {
    font-family: var(--fontGe);
    font-size: 45px;
    text-align: center;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    width: calc(100vw - 10px);
    max-width: 450px;
    margin: 0 auto;
}

.key {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: #377491;
}

.fakekey {
    border: 0;
    border-radius: 3px;
    background-color: #e1e5e8;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #3a3a27;
    font-weight: 600;
    min-width: 110px;
    padding: 10px;
}

.key:active {
    background-color: #235a74;
    transform: translate(0, 3px);
}

.letter {
    width: calc(9vw - 5px);
    max-width: 37px;
    height: 55px;
}

.lettercard {
    width: 40px;
    height: 58px;
}

.keyGe {
    margin-top: 6px;
    font-family: var(--fontGe);
    color: white;
    font-size: 27px;
    line-height: 27px;
    text-align: center;
}

.keyRu {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #d9db50;
    font-size: 16px;
    text-align: right;
    padding-right: 3px;
    padding-top: 2px;
    transition: .5s;
}

.showRu {
    transition: .5s;
    color: #d9db5000;
}

.keycontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px 5px;
    width: calc(100vw - 10px);
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    text-align: center;
}

.backspace {
    font-size: 16px;
    line-height: 30px;
    width: 90px;
    height: 30px;
}

.spacekey {
    font-size: 22px;
    line-height: 28px;
    width: 135px;
    height: 30px;
}

.wordcontainer {
    height: 70px;
    margin: 30px auto 20px auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
}

.wordletter {
    font-family: var(--fontGe);
    font-size: 38px;
    text-align: center;
    max-width: 40px;
    max-height: 60px;
    border: 0;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: #e8e9b9;
}

.wordletter:active, :focus {
    outline: 0;
    outline-offset: 0;
}

.wrongletter {
    transition-delay: 1000;
    animation-duration: 0.3s;
    animation-name: shake;
}

@keyframes shake {
    0% { transform: translateY(0px) }
    10% { transform: translateY(-5px) }
    20% { transform: translateY(0px) }
    30% { transform: translateY(5px) }
    40% { transform: translateY(0px) }
    50% { transform: translateY(-5px) }
    60% { transform: translateY(0px) }
    70% { transform: translateY(5px) }
    80% { transform: translateY(0px) }
    90% { transform: translateY(-5px) }
    100% { transform: translateY(0px) }
  }

  .correct {
    transition-delay: 1000;
    animation-duration: 1s;
    animation-name: goaway;
  }

  @keyframes goaway {
    0% { transform: translate(0, 0px) }
    10% { transform: translate(0, 2px) }
    20% { transform: translate(0, 10px) }
    40% { transform: translate(0, 10px) }
    50% { transform: translate(-30px, 10px) }
    100% { transform: translate(calc(-100vw), 10px) }
  }

.contact {
    height: 30px;
    width: 30px;
    fill: #3a3a27;
}

.link {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    text-decoration: none;
    color: #3a3a27;
}
