:root {
    --font1: 'NotoSansGeorgian';
    --font2: 'NotoSerifGeorgian';
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*---FONTS---*/
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: NotoSansGeorgian;
    src: url(./fonts/Noto_Sans_Georgian/static/NotoSansGeorgian/NotoSansGeorgian-Light.ttf);
}
@font-face {
    font-family: NotoSerifGeorgian;
    src: url(./fonts/Noto_Serif_Georgian/static/NotoSerifGeorgian/NotoSerifGeorgian-Light.ttf);
}
/*---FONTS---*/

/*---header---*/
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    height: 70px;
    margin-bottom: 50px;
    max-width: 400px;
}

.mode-button {
    overflow: hidden;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cccccc;
}

.mode-button:active {
    background-color: #afafaf;
    transform: translate(0, 2px);
    transition: 0.1;
}

.about-button {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    color: #3a3a27;
    font-weight: 600;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #cccccc;
}

.text-mode {
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    color: #3a3a27;
    font-weight: 600;
    min-width: 110px;
}

.about-button:active {
    background-color: #afafaf;
    transform: translate(0, 2px);
    transition: 0.1;
}

.tmbox {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.tmbox.easy {
    animation-duration: 1s;
    animation-name: easy;
}

@keyframes easy {
    0% { transform: translateX(0px) }
    10% { transform: translateX(-50px) }
    20% { transform: translateX(-150px) }
    80% { transform: translateX(-150px) }
    90% { transform: translateX(-50px) }
    100% { transform: translateX(0px) }
}

.tmbox.regular {
    animation-duration: 1s;
    animation-name: regular;
}

@keyframes regular {
    0% { transform: translateX(0px) }
    10% { transform: translateX(30px) }
    20% { transform: translateX(150px) }
    80% { transform: translateX(150px) }
    90% { transform: translateX(30px) }
    100% { transform: translateX(0px) }
}

.about-box {
    font-family: 'Montserrat';
    color: #3a3a27;
    font-weight: 600;
    position: absolute;
    left: 100vw;
    top: 0px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 10px 40px 100px 40px;
    z-index: 2;
}

.about-box.active {
    animation-duration: .3s;
    animation-name: slidemenu;
    animation-fill-mode: forwards;
}

@keyframes slidemenu {
    0% { left: 100vw }
    100% { left: 0px }
}

.about-text {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 15px;
    max-width: 650px;
}

.xmark {
    margin: 0 auto;
    padding: 10px 0 10vh 0px;
    max-width: 650px;
    font-size: 20px;
    text-align: end;
    cursor: pointer;

  }

/*---header---*/

.keyboardcontainer {
    margin: 0 auto;
    width: 385px;
}

/*---helpcontainer---*/
.helpcontainer {
    position: relative;
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    width: 385px;
    height: 80px;
    font-family: 'Montserrat';
    font-weight: 600;
    gap: 5px;
}

.help-button {
    font-size: 25px;
    color: #3a3a27;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: #e8e9b9;
    transition: .3s;
}

.help-bgr {
    position: absolute;
    z-index: -1;
    background-color: #dcddb4;
    right: 18px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    animation: 1.5s linear 0s infinite normal rotate;
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    40% {
        transform: rotate(300deg);
        width: 44px;
        }
    70% {
        transform: rotate(600deg);
        width: 41px;
        }
    100% { transform: rotate(900deg) }
  }

.help-button:hover {
    background-color: #dfe079;
}

.help-button.active {
    transition: .2s;
    animation-duration: 2.1s;
    animation-name: showtranslit;
}

  @keyframes showtranslit {
    0% { background-color: #dfe079; }
    8% { transform: translate(1px, 1px) }
    16% { transform: translate(0px, 0px) }
    60% { background-color: #dfe079; }
    100% { background-color: #e8e9b9 }
  }

.text-helper {
    font-size: 18px;
    color: #3a3a27;
    line-height: 40px;
    width: 250px;
    height: 40px;
}

.hideswitcher {
    display: none;
}
/*---helpcontainer---*/


.text-ru {
    font-family: 'Montserrat';
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.text-ge {
    font-family: var(--font2);
    font-size: 45px;
    text-align: center;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    width: 385px;
}

.key {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: #377491;
}

.key:hover {
    background-color: #235a74;
    transition: .1s;
}

.key:active {
    background-color: #235a74;
    transform: translate(0, 3px);
}

.letter {
    width: 31px;
    height: 55px;
    padding-right: 4px;
    padding-top: 5px;
}

.keyGe {
    font-family: var(--font2);
    color: white;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
}

.keyRu {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #d9db50;
    font-size: 17px;
    text-align: right;
    transition: .5s;
}

.showRu {
    transition: .5s;
    color: #d9db5000;
}

.keycontainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    width: 385px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: white;
    text-align: center;
}

.backspace {
    font-size: 16px;
    line-height: 30px;
    width: 90px;
    height: 30px;
}

.spacekey {
    font-size: 22px;
    line-height: 28px;
    width: 135px;
    height: 30px;
}

.wordcontainer {
    height: 70px;
    margin: 40px auto 50px auto;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.wordletter {
    font-family: var(--font2);
    font-size: 40px;
    text-align: center;
    width: 37px;
    height: 70px;
    border: 0;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: #e8e9b9;
}

.wordletter:active, :focus {
    outline: 0;
    outline-offset: 0;
}

.wordletter:hover {
    background-color: #d4d5a0;
    transition: .3s;
}

.wrongletter {
    transition-delay: 1000;
    animation-duration: 0.3s;
    animation-name: shake;
}

@keyframes shake {
    0% { transform: translateY(0px) }
    10% { transform: translateY(-5px) }
    20% { transform: translateY(0px) }
    30% { transform: translateY(5px) }
    40% { transform: translateY(0px) }
    50% { transform: translateY(-5px) }
    60% { transform: translateY(0px) }
    70% { transform: translateY(5px) }
    80% { transform: translateY(0px) }
    90% { transform: translateY(-5px) }
    100% { transform: translateY(0px) }
  }

  .correct {
    transition-delay: 1000;
    animation-duration: 1s;
    animation-name: goaway;
  }

  @keyframes goaway {
    0% { transform: translate(0, 0px) }
    10% { transform: translate(0, 2px) }
    20% { transform: translate(0, 10px) }
    40% { transform: translate(0, 10px) }
    50% { transform: translate(-30px, 10px) }
    100% { transform: translate(calc(-100vw), 10px) }
  }


